<?xml version="1.0" ?>
<model>
    <name>jacabot</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Karol Orlamowski</name>
        <email>karol.orlamowski@gmail.com</email>
    </author>
    <description>Model of two wheel robot with ball caster</description>
</model>
